<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Recipe Blog</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
     <link rel="stylesheet" href="css/style.css">
</head>
    <body>
        <!-- loader  -->
    
    <!--Header start-->
    <div class="container">
      <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
          <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
          <span class="fs-4">Simple header</span>
        </a>
  
        <ul class="nav nav-pills">
          <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
          <li class="nav-item"><a href="#" class="nav-link">Features</a></li>
          <li class="nav-item"><a href="#" class="nav-link">Pricing</a></li>
          <li class="nav-item"><a href="#" class="nav-link">FAQs</a></li>
          <li class="nav-item"><a href="#" class="nav-link">About</a></li>
        </ul>
      </header>
    </div>
    <!--Header end-->
    <%- body -%>
    

    <!--footer start-->
    <footer>
        <div class="footer">
           <div class="container">
              <div class="row">
                 <div class="col-md-3 col-sm-6">
                    <div class="infoma text_align_left">
                       <h3>About</h3>
                       <p class="ipsum">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sedconsectetur </p>
                       <ul class="social_icon">
                          <li><a href="Javascript:void(0)"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                          <li><a href="Javascript:void(0)"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                          <li><a href="Javascript:void(0)"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                          <li><a href="Javascript:void(0)"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                       </ul>
                    </div>
                 </div>
                 <div class="col-md-3 col-sm-6">
                    <div class="infoma">
                       <h3>Adderess</h3>
                       <ul class="conta">
                          <li>Healing Center, oo W Street name, <br>
                             Loram ipusum 
                          </li>
                          <li>(+71) 8522369417 <br>(+71) 8522369417</li>
                          <li> <a href="Javascript:void(0)"> demo@gmail.com</a></li>
                       </ul>
                    </div>
                 </div>
                 <div class="col-md-3 pad_lrft col-sm-6">
                    <div class="infoma">
                       <h3>Links</h3>
                       <ul class="fullink">
                          <li><a href="index.html">Home</a></li>
                          <li><a href="about.html">About</a></li>
                          <li><a href="shop.html">Shop</a></li>
                          <li><a href="quality.html">Quality</a></li>
                          <li><a href="contact.html">Contact</a></li>
                       </ul>
                    </div>
                 </div>
                 <div class="col-md-3 col-sm-6">
                    <div class="infoma">
                       <h3>Newsletter</h3>
                       <form class="form_subscri">
                          <div class="row">
                             <div class="col-md-12">
                                <input class="newsl" placeholder="Your Name" type="text" name="Your Name">
                             </div>
                             <div class="col-md-12">
                                <input class="newsl" placeholder="Email" type="text" name="Email">
                             </div>
                             <div class="col-md-12">
                                <button class="subsci_btn">subscribe</button>
                             </div>
                          </div>
                       </form>
                    </div>
                 </div>
              </div>
           </div>
           <div class="copyright">
              <div class="container">
                 <div class="row">
                    <div class="col-md-12">
                       <p>© 2023 All Rights Reserved.  <a href="www.jenaro.pro">Jenaro.pro</a></p>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </footer>
     <!-- end footer -->
     <!-- Javascript files-->
     <script src="/js/script.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

    
</body>
</html>